$blue:#5f4dee;
$primary-color:blueviolet;
$font-size-veryBig:4rem;
$font-size-big:2.5rem;
$transition-normal:all 0.3s ease-in-out;
$font-weight-bold:800;
$font-weight-bolder:900;
$font-weight-normal:600;
$font-weight-regular:500;