main {
    padding: 1rem 0;
    background-color: white;
    .features {
        .button {
            a {
                border-radius: 12px;
                font-size: 1.5rem;
                width: 40%;
            }
        }
        ul {
            list-style: square;
            li::marker {
                color: rgb(131, 3, 250);
            }
        }
        .transitions {
            .active {
                color: black;
                &::before {
                    background-color: rgba($color: #000000, $alpha: 1);
                }
            }
            section {
                position: relative;
                cursor: pointer;
                transition: $transition-normal;
                &:hover {
                    color: black;
                    &::before {
                        background-color: rgba($color: #000000, $alpha: 1);
                    }
                }
            }
            section::before {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -8px;
                content: "";
                width: 50%;
                background-color: rgba($color: #000000, $alpha: .2);
                height: 2px;
                transition: $transition-normal;
            }
        }
    }
    .search {
        .form-group {
            .input-group-text {
                cursor: pointer;
            }
        }
    }
    .skills {
        img {
            margin: 0 auto;
            width: 40%;
            @include tablet {
                width: 30%;
            }
        }
    }
    .skills__title {
        font-weight: $font-weight-normal;
    }
}

.music {
    audio {
        display: block;
        width: 100%;
    }
}

.musicCard {
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.musicCard__heart {
    position: absolute;
    right: 5px;
    top: 2px;
    i {
        color: orange;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.carousel-inner img {
    border-radius: 50px;
}

.contact {
    button {
        font-size: 2rem;
    }
    input {
        font-size: 1.6rem;
    }
    textarea {
        font-size: 1.6rem;
    }
}